﻿.btn3d.btn-default {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 5px 5px 1px rgba(0,0,0,.2);
    background-color: #f9f9f9;
}

    .btn3d.btn-default:active, .btn3d.btn-default.active {
        color: #666666;
        box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 2px 1px rgba(0,0,0,.1);
        background-color: #f9f9f9;
    }

.btn3d.btn-danger {
    box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #D73814;
}

    .btn3d.btn-danger:active, .btn3d.btn-danger.active {
        box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
        background-color: #D73814;
    }
