﻿
<br />
<h2>Lista de Ligas</h2>
<hr />
<br />

<div class="col-md-12">
    <div class="col-md-4 text-center">
        <div class="panel panel-info" [routerLink]="['/admin/inserirdesporto']">
            <div class="panel-body">
                <img class="img-circle" src="https://cdn4.iconfinder.com/data/icons/vectory-bonus-3/40/button_add-512.png" width="100" height="100" />
                <br /><h4>Adicionar Liga</h4>
                <br />
            </div>
        </div>
    </div>

    <div *ngFor="let liga of ligas" class="col-md-4 text-center">
        <div class="panel panel-info">
            <div class="panel-body">
                <img class="img" [src]="getImagem(liga.modalidade)" width="100" height="100" />
                <h4>{{liga.liga}} | {{liga.modalidade}}</h4> <h5>id: {{liga.id_liga}}</h5>
                <input type="button"  [routerLink]="['/admin/ligas/editarligas',liga.id_liga]"  value="Editar" class="btn3d btn btn-default btn-xs" /> 
                <input type="button" (click)="RemoverLiga(liga.id_liga)"  value="Remover" class="btn3d btn btn-danger btn-xs" />
            </div>
        </div>
    </div>


</div>
