<div class='main-nav'>
    <div class='navbar navbar-inverse'>       
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">InstApostas</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-off'></span> Login/Registo
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/perfil']" [queryParams]="{ user: userLogado.id}">
                        <span class='glyphicon glyphicon-user'></span> Perfil 
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/inserirAposta']">
                        <span class='glyphicon glyphicon-plus'></span> Inserir Aposta
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/visualizarAposta']">
                        <span class='glyphicon glyphicon-picture'></span> Visualizar Aposta
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</div>
