﻿<br />
<h3>Inserir uma Liga</h3>
<hr />
<br />
<div>
    <form class="form-horizontal" #inserirModalidadeForm='ngForm' (ngSubmit)="AdicionarLiga()">
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" for="Modalidade">Modalidade</label>
                <div class="col-md-4">
                    <select [(ngModel)]="modalid" name="modalid" class="form-control">
                        <option *ngFor="let modal of mod" value={{modal.nome}}>
                            {{modal.nome}}
                        </option>
                    </select>
                    <br />
                    <input type="button" [routerLink]="['/admin/inserirmodalidade']" value="Outra modalidade..." class="btn3d btn btn-default btn-sm" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="liga">Liga</label>
                <div class="col-md-4">
                    <input [(ngModel)]="liga" name="liga" type="text" placeholder="Liga" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn3d btn btn-success">Adicionar</button>
                    <button type="button" [routerLink]="['/admin/ligas']" class="btn3d btn btn-danger">Cancelar</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>

