﻿<html>
<body>





    <p *ngIf="!ListApostasH"><em>A carregar...</em></p>

    <div *ngIf="ListApostasH">
        <h2 style="margin-top:30px;"><b>{{empList.nome}} ({{empList.username}})</b></h2>

        <div style="width:100%;margin-top:30px;">

            <div style="float:left;width:20%;height:300px;">
                <!--<img style="width:190px;height:220px;" src="Imagens/utilizador.png" alt="Foto Perfil">-->
                <img style="width:90%;height:90%" src="{{empList.fotoPerfil}}" alt="Foto Perfil">

                <!--Caso seja o proprio perfil-->
                <div *ngIf="userLogin.id == empList.id">
                    <button class="btn btn-success" style="margin-top:8px;width:45%;" [routerLink]="['/editarperfil']" [queryParams]="{ user:empList.id}">
                        Editar Perfil

                    </button>
                </div>

                <!--Caso seja o perfil de outra pessoa-->
                <div *ngIf="userLogin.id != empList.id">
                    <!--<button style="border:none;background-color:white;margin-top:8px;width:unset;" (click)="seguirUtil(empList.id)">-->

                    <img *ngIf="simbolo==0" style="float:left;width:35%;height:35%;margin-top:8px;" (click)="seguirUtil(empList.id)" src="Imagens/seguir.png" alt="seguir">

                    <img *ngIf="simbolo==1" style="float:left;width:100%;width:15%;height:15%;margin-top:8px;" (click)="seguirUtil(empList.id)" src="Imagens/Aseguir.png" alt="seguir">
                    <!--</button>-->
                </div>

            </div>




            <br />

            <div style="float:right;width:80%;">

                <h4><b>Seguidores:</b> {{seguidores}}</h4>
                <h4><b>A seguir:</b> {{aseguir}}</h4>
                <h4><b>Odd Média:</b> {{Odd}}</h4>
                <h4><b>Classificação:{{Avaliacao}}</b><span class="fa fa-star checked"></span> </h4>
                <br />
                <br />
                <div class="stars" *ngIf="userLogin.id != empList.id">
                    <form action="">
                        <input class="star star-5" id="star-5" type="radio" value=5 [checked]="star5" (click)="tryStars(5)" />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" value=4 [checked]="star4" (click)="tryStars(4)" />
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" value=3 [checked]="star3" (click)="tryStars(3)" />
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" value=2 [checked]="star2" (click)="tryStars(2)" />
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" value=1 [checked]="star1" (click)="tryStars(1)" />
                        <label class="star star-1" for="star-1"></label>
                    </form>

                </div>
                <div *ngIf="userLogin.id != empList.id">
                    <button id="denunciarCom" class="btn btn-danger" type="button" (click)="denunciarUser()">Denunciar Utilizador</button>
                </div>
                <div>
                    <div *ngIf="mostrarDenunciar">
                        <form [formGroup]="denunciaForm">
                            <div class="form-group">
                                <label for="denuncia">Sua denuncia desta aposta:</label>
                                <textarea name="denuncia" ngModel class="form-control" rows="3" id="denuncia" formControlName="denuncia" placeholder="faça a denuncia do perfil"></textarea>
                                <button id="submit" name="submit" class="btn btn-success" type="submit" (click)="tryDenuncia(denunciaForm.value)">Denunciar</button>
                                <button id="cancelarDenuncia" class="btn btn-danger" type="button" (click)="cancelarDenuncia()">Cancelar denuncia</button>
                                <label class="text-danger">{{errorMessage}}</label>
                                <label class="text-danger">{{successMessage}}</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--<div class="panel panel-default" style="margin-top:300px;">-->
        <div class="panel panel-default" style="margin-top:39%;">
            <div class="panel-heading">
                <h2 class="panel-title"><b>Apostas em curso</b></h2>
            </div>
            <div class="panel-body">
                <p *ngIf="ListApostasA == 0"><em>Sem apostas ativas!</em></p>

                <div *ngIf="ListApostasA != 0">
                    <div *ngFor="let aposta of ListApostasA">
                        <div>
                            <div class="col-sm-6 col-md-4" style="padding-top:30px;height:700px;">
                                <div class="thumbnail" style="text-align:center;height:600px;">
                                    <img style="margin:auto;height:90%" src="{{aposta.foto}}" alt="apostax" />
                                    <div class="caption">
                                        <label style="font-size:18px;">Válido até <span style="font-size:19px;color:green;"><b> {{aposta.dataFim}}</b> </span> <img style="width:50px;height:50px;margin-bottom:5px;" src="Imagens/rel3.gif" /> </label>

                                        <button class="btn btn-success" style="margin-top:8px;width:45%;" [routerLink]="['/visualizarAposta']" [queryParams]="{ aposta:aposta.id}">
                                            Ver

                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>





            </div>
        </div>



        <div class="panel panel-default" style="margin-top:50px;">
            <div class="panel-heading">
                <h2 class="panel-title"><b>Histórico</b></h2>
            </div>
            <div class="panel-body">

                <p *ngIf="ListApostasH == 0"><em>Sem histórico de Apostas!</em></p>

                <div *ngIf="ListApostasH != 0">
                    <div *ngFor="let aposta of ListApostasH">
                        <div>
                            <div class="col-sm-6 col-md-4" style="padding-top:30px;">
                                <div class="thumbnail" style="text-align:center;height:550px;">
                                    <img style="margin:auto;height:90%" src="{{aposta.foto}}" />
                                    <div class="caption">
                                        <label style="font-size:18px;">Expirou a <span style="font-size:19px;color:orangered;"><b> {{aposta.dataFim}}</b> </span>  </label>

                                        <!--<p>
                                            <a href="@Url.Action(" PaginaImovel","Home", new { id=imo.IdImovel })" class="btn btn-primary" role="button">Ver</a>
                                        </p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        div.stars {
            width: 190px;
            display: inline-block;
        }

        input.star {
            display: none;
        }

        label.star {
            float: right;
            padding: 5px;
            font-size: 30px;
            color: #444;
            transition: all .2s;
        }

        input.star:checked ~ label.star:before {
            content: '\f005';
            color: #FD4;
            transition: all .25s;
        }

        input.star-5:checked ~ label.star:before {
            color: #FE7;
            text-shadow: 0 0 20px #952;
        }

        input.star-1:checked ~ label.star:before {
            color: #F62;
        }

        label.star:hover {
            transform: rotate(-15deg) scale(1.3);
        }

        label.star:before {
            content: '\f006';
            font-family: FontAwesome;
        }
    </style>
    <style>
        .checked {
            color: orange;
        }
    </style>
        </body >
        </html >
