﻿
<br />
<h2>Lista de Denúncias</h2>
<hr />
<br />

<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div *ngFor="let den of denuncias">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <b>Denunciado:</b> {{den.denunciado}}  <br /> <!--Ir buscar o tipo de denúncia-->
                            <b>Denunciante:</b> {{den.denunciante}} <br /> <!--Ir buscar o user do denunciante-->
                            <br />
                            <b>Data:</b> {{den.data}} <!--Ir buscar a data da denuncia-->
                            <br />
                        </div>
                        <div class="col-md-2">
                            <!--ABERTA/FECHADA-->
                        </div>
                        <div *ngIf="den.estado==false" class="col-md-4">
                            <br />
                            <input type="button" [routerLink]="['./detalhes',den.id_denuncia]" value="Abrir" class="btn btn-danger btn3d pull-right" />
                        </div>
                        <div *ngIf="den.estado==true" class="col-md-4">
                            <br />
                            <input type="button" [routerLink]="['./detalhes',den.id_denuncia]" value="Visualizar" class="btn btn-success btn3d pull-right" />
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>