﻿<style type="text/css">
    html {
        overflow-y: hidden;
        overflow-x: hidden;
        margin-left: -36px;
        margin-right: -15.3px;
    }
</style>
<html>
<body>
    <div class="image">
        <div>
            <div align="center">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h2><span class="label label-danger">{{errorMessage}}</span></h2>
                <h2><span class="label label-success">{{successMessage}}</span></h2>
            </div>
        </div>
    </div>
</body>
</html>
