﻿.ui-tabs-nav {
    background-color: #FFFFFF !important; /*To overwrite jquery-ui.css*/ /*To stop nav block scaling of tab size*/
}

.panel:hover {
    border: 2px solid black;
}

.btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

    .btn3d:active:focus,
    .btn3d:focus:hover,
    .btn3d:focus {
        -moz-outline-style: none;
        outline: medium none;
    }

    .btn3d:active, .btn3d.active {
        top: 2px;
    }

    .btn3d.btn-default {
        color: #666666;
        box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 5px 5px 1px rgba(0,0,0,.2);
        background-color: #f9f9f9;
    }

        .btn3d.btn-default:active, .btn3d.btn-default.active {
            color: #666666;
            box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 2px 1px rgba(0,0,0,.1);
            background-color: #f9f9f9;
        }
