﻿
<br />
<h2>Lista de Utilizadores</h2>
<hr />

<div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div *ngFor="let user of l_u">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="col-md-9">
                            <b>Username:</b> {{user.username}}  <br />
                            <b>Nome:</b> {{user.nome}} <br /> <!--Ir buscar o user do denunciante-->
                            <b>Email:</b> {{user.email}}
                            <br />
                            <b>Genero:</b> {{user.genero}}
                            <br />
                        </div>
                        <div class="col-md-3">
                                <div *ngIf="user.estado==0" >
                                    <br />
                                    <input type="button" (click)="AlterarEstado(user.username)" value="Bloquear" class="btn btn-default btn3d pull-right" />
                                </div>
                                <div *ngIf="user.estado==2">
                                    <br />
                                    <input type="button" (click)="AlterarEstado(user.username)"  value="Desbloquear" class="btn btn-default btn3d pull-right" />
                                </div>
                        
                        <br />
                        <br />
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
    </div>

