﻿<br />
<h2>Denúncia</h2>
<hr />
<br />

<div>

    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <b>     Denunciante: </b>  {{den.denunciante}} <!--Ir buscar o tipo de denúncia-->
                        </div>
                        <div class="col-md-6">
                            <b>   Denunciado: </b>  {{den.denunciado}} <br /> <!--Ir buscar o user do denunciante-->
                        </div>
                    </div>
                    <br />
                    <b>     Motivo: </b> <!--Ir buscar a data da denuncia-->
                    <input disabled type="text" name="motivo" size="70" style="padding: 12px 20px;margin: 8px 0;display: inline-block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;" placeholder="{{den.motivo}}"><br>
                    <br />
                    <div class="row">
                        <!-- ifs aqui -->
                        <div *ngIf="den.tipo_Denuncia == 0" class="col-md-5 col-md-offset-1">
                            <b>Utilizador denunciado: </b> <br />
                            <img src="{{den.conteudoDenunciado}}" width="150" height="150"> <!--0 é utilizador-->
                        </div>
                        <div *ngIf="den.tipo_Denuncia==1" class="col-md-5 col-md-offset-1">
                            <b>Aposta denunciada: </b> <br />
                            <img src="{{den.conteudoDenunciado}}" width="150" height="150"> <!--0 é utilizador-->
                        </div>

                        <div *ngIf="den.tipo_Denuncia == 2" class="col-md-5 col-md-offset-1">
                            <b>Comentario denunciado: </b> <br />
                            {{den.conteudoDenunciado}}

                        </div>
                        <div *ngIf="den.estado == false" class="col-md-4 col-md-offset-2">
                            <br />
                            <input type="button" [routerLink]="['./detalhes',den.id_denuncia]" (click)="BloquearUtilizador(den.id_denunciante)" value="Bloquear denunciante" class="btn btn-danger btn3d" /> <!--Tem que fazer a ação de bloquear o denunciante-->
                            <br /> <br />
                            <input type="button" [routerLink]="['./detalhes',den.id_denuncia]" (click)="BloquearUtilizador(den.id_denunciado)" value="Bloquear denunciado   " class="btn btn-danger btn3d" />  <!--Tem que fazer a ação de bloquear o denunciado-->
                        </div>
                    </div>
                    <br />
                    <b>     Resposta do Administrador: </b>
                    <br /><br />
                    <form class="form-horizontal" #editarLigaForm='ngForm' (ngSubmit)="ResponderDenuncia()">
                        <div *ngIf="den.estado == false">
                            <textarea name="message" [(ngModel)]="resposta" rows="10" cols="75" style="padding: 12px 20px;box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;resize: none;" placeholder="Resposta..."></textarea>
                        </div>
                        <div *ngIf="den.estado == true">
                            <textarea name="message" rows="10" cols="75" style="padding: 12px 20px;box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;background-color: #f8f8f8;resize: none;" disabled>{{den.resposta_administrador}}</textarea>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div *ngIf="den.estado == false">
                                <div class="col-md-2 col-md-offset-1">
                                    <input type="submit" value="Enviar" class="btn3d btn btn-default" />
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <input type="button" [routerLink]="['./detalhes',den.id_denuncia]" (click)="ArquivarDenuncia(den.id_denuncia)" value="Arquivar" class="btn3d btn btn-default" />
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <input type="button" [routerLink]="['/admin/denuncias']" value="Cancelar" class="btn3d btn btn-default" />
                                </div>
                            </div>
                            <div *ngIf="den.estado == true">
                                <div class="col-md-2 col-md-offset-8">
                                    <input type="button" [routerLink]="['/admin/denuncias']" value="Voltar" class="btn3d btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>