﻿<style type="text/css">
    html {
        overflow-x: hidden;
        overflow-y: hidden;
        margin-left: -36px;
        margin-right: -15.3px;
    }
</style>
<html>
<body>
    <div class="image">
        <div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form [formGroup]="resetForm">
                        <br />
                        <br />
                        <div class="form-group">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <label style="color:white">Introduza o seu email</label>
                            <input type="email" formControlName="email" class="form-control">
                            <label class="text-danger">{{errorMessage}}</label>
                            <label class="text-success">{{successMessage}}</label>

                        </div>
                        <div align="center">
                            <button type="submit" (click)="tryResetPassword(resetForm.value)" class="btn btn-default">Restaurar Password</button>
                            <p style="color:white">Voltar ao login? <a [routerLink]="['/login']">Login</a></p>
                        </div>
                            </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>