﻿
<br />
<h2>Lista de Modalidades</h2>
<hr />
<br />
<div class="col-md-12">
    <div class="col-md-4 text-center">
        <div class="panel panel-info" [routerLink]="['/admin/inserirmodalidade']">
            <div class="panel-body">
                <img class="img-circle" src="https://cdn4.iconfinder.com/data/icons/vectory-bonus-3/40/button_add-512.png" width="100" height="100" />
                <br /><h4>Adicionar Modalidade</h4>
                <br />
            </div>
        </div>
    </div>

    <div *ngFor="let modal of modalidades" class="col-md-4 text-center">
        <div class="panel panel-info">
            <div class="panel-body">
                <img class="img" [src]="getImagem(modal.nome_m)" width="100" height="100" />
                <h4>{{modal.nome}}</h4>
                <input type="button" (click)="RemoverModalidade(modal.id_m)"  value="Remover" class="btn3d btn btn-danger btn-xs" />
            </div>
        </div>
    </div>


</div>
