
<style type="text/css">
    html {
        overflow-x: hidden;
        overflow-y: hidden;
        margin-left: -36px;
        margin-right: -15.3px;
    }

 


    .grid-containerlista {
        display: grid;
        grid-template-columns: auto auto auto;
        
        padding: 10px;
    }

    .grid-item {
        
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    p {
        color:white;
        font-weight:bold;
        font-size:16px;
    }
</style>


<html>
<body>
    <div class="image">
        <div align="left">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 align="center" style="color:white">P&aacute;gina Principal</h1>

                        <br />
                        <br />

                    </div>
                </div>
                <h1 align="center" style="color:white">Apostas Recentes</h1>
                <p *ngIf="!ListaApostas"><em>A Carregar Info...</em></p>
                <div class="grid-containerlista" *ngIf="ListaApostas">
                    <div class="grid-item" *ngFor="let aposta of ListaApostas">
                        <a href="#">
                            <img src="{{ aposta.foto }}" alt="{{aposta.nome}}" height="100" width="100" />
                        </a>
                        <p> {{aposta.nome}}</p>

                    </div>
                </div>


                <br />
                <br />

            </div>
        </div>
    </div>

</body>
</html>