﻿<div>
    <form class="form-horizontal" #inserirModalidadeForm='ngForm' (ngSubmit)="AdicionarModalidade()">
        <fieldset>

            <br />
            <!-- Form Name -->
            <legend>Adicionar Modalidade</legend>
            
            

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="liga">Modalidade</label>
                <div class="col-md-4">
                    <input [(ngModel)]="modalidade" name="modalidade" type="text" placeholder="Modalidade" class="form-control input-md">
                </div>
               
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn3d btn btn-success">Adicionar</button>
                    <button type="button" [routerLink]="['/admin/modalidades']" class="btn3d btn btn-danger">Cancelar</button>
                </div>
            </div>

        </fieldset>
    </form>


</div>

