﻿<h1>Home Page Administrador</h1>
<br />
<hr />
<br />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="center-block">

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading light-gray"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content light-gray">
                        <div class="circle-tile-description text-dark-blue">Nº Utilizadores</div>
                        <div class="circle-tile-number text-dark-blue">{{totais.num_utilizadores}}</div><br />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="circle-tile ">
                    <a href="#"> <div class="circle-tile-heading dark-blue"><i class="fa fa-american-sign-language-interpreting fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content dark-blue">
                        <div class="circle-tile-description text-faded">Nº Apostas</div>
                        <div class="circle-tile-number text-faded ">{{totais.num_apostas}}</div><br />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading light-gray"><i class="fa fa-exclamation-circle fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content light-gray">
                        <div class="circle-tile-description text-dark-blue">Nº Denuncias Total</div>
                        <div class="circle-tile-number text-dark-blue">{{totais.den_total}}</div><br />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="circle-tile ">
                    <a href="#"> <div class="circle-tile-heading dark-blue"><i class="fa fa-bell fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content dark-blue">
                        <div class="col-md-6">
                            <div class="circle-tile-description text-faded">Denuncias Abertas</div>
                            <div class="circle-tile-number text-faded ">{{totais.den_abertas}}</div>
                        </div>
                        <div class="circle-tile-description text-faded">Denuncias Fechadas</div>
                        <div class="circle-tile-number text-faded ">{{totais.den_fechadas}}</div>
                    </div>
                </div>
            </div>

        </div>  
        <br />
        <div class="col-md-12">
            <div #chartTarget>
                A carregar gráfico...
            </div>
        </div>
</div>
</div>
        
<router-outlet></router-outlet>
