﻿<br />
<h3>Editar uma Liga  {{id_liga}}</h3>
<hr />
<br />



<div>
    <form class="form-horizontal" #editarLigaForm='ngForm' (ngSubmit)="EditarNomeLiga()">
        <div class="form-group">
                <label class="col-md-4 control-label" for="liga">Liga</label>
                <div class="col-md-4">
                    <input [(ngModel)]="ligaeditar" value="{{edit_l.liga}}" name="ligaeditar" type="text"  class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">

                    <button type="submit"  class="btn3d btn btn-success">Alterar</button>
                    <button type="button" [routerLink]="['/admin/ligas']" class="btn3d btn btn-danger">Cancelar</button>
                </div>
            </div>
</form>
</div>