﻿
<div *ngIf="mostrar">
    <h1 style="text-align:center;">Aposta de {{userLogado.username}}</h1>
    <form [formGroup]="apostaForm">
        <div class="form-group" style="padding-top: 20px;">
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoAposta" id="5" value="5" formControlName="tipoAposta">
                    <label class="form-check-label" for="simples">
                        Simples
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoAposta" id="3" value="3" formControlName="tipoAposta">
                    <label class="form-check-label" for="combinada">
                        Combinada
                    </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="tipoAposta" id="4" value="4" formControlName="tipoAposta">
                    <label class="form-check-label" for="multipla">
                        Múltipla
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" style="padding-top: 20px;">
            <div>
                <label class="form-check-label" for="modalidade">Modalidade:</label>
                <select #selectElem class="form-control" id="modalidade" (change)="ativar(apostaForm.value.modalidade)" formControlName="modalidade">
                    <option value="">--Selecione a sua modalidade--</option>
                    <option *ngFor="let k of modalidade" id="{{k.idM}}" value="{{k.idM}}">
                        {{k.nome}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="form-check-label" for="liga">Liga:</label>
                <select #selectElem [style.visibility]="visible" class="form-control" formControlName="liga">
                    <option value="">--Selecione a liga--</option>
                    <option *ngFor="let f of liga" id="{{f.idL}}" value="{{f.idL}}">
                        {{f.nome}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="dataInicio">Data de início da primeira aposta:</label>
            <input type="date" class="form-control" id="dataInicio" formControlName="dataInicio" />
        </div>
        <div class="form-group">
            <label for="dataFim">Data do fim da aposta:</label>
            <input type="date" class="form-control" id="dataFim" formControlName="dataFim" />
        </div>
        <div class="form-group">
            <label class="form-check-label" for="odd">ODD:</label>
            <input class="form-control" id="odd" placeholder="no valor de 1€" name="odd" ngModel required formControlName="odd" />
        </div>
        <div class="form-group">
            <label class="form-check-label" for="risco">Percentagem de confiança:</label>
            <input #risco class="form-control" (change)="alterarRisco(risco.value)" placeholder="0-100%" formControlName="risco" />
            <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="percentagem" [ngStyle]="{ 'background-color': cor }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea class="form-control" rows="3" id="descricao" placeholder="diga algo sobre a sua aposta" formControlName="descricao"></textarea>
        </div>
        <div class="form-group">
            <label for=" foto">Foto da aposta:</label>
            <input type="file" #fileInput id="foto" formControlName="foto" />
        </div>
        <div>
            <label class="text-danger">{{errorMessage}}</label>
            <label class="text-success">{{successMessage}}</label>
        </div>
        <div class="form-group" style="padding-left: 300px;">
            <button id="submit" name="submit" class="btn btn-primary" type="submit" (click)="tryInserirAposta(apostaForm.value)">Inserir aposta</button>
            <button id="cancelar" name="cancelar" class="btn btn-danger" type="button" [routerLink]="['/perfil']" [queryParams]="{ user:userLogado.id}">Cancelar</button>
            <button id="limpar" name="limpar" class="btn btn-warning" type="reset">Limpar os campos</button>
        </div>
    </form>
</div>

<!--[style.visibility]="mostrar2"-->
<!--<button (click)="setState()">{{ getButtonText() }}</button>-->

<div *ngIf="!mostrar">
    <h1 style="color: green; text-align: center;">Aposta submetida com sucesso!</h1>
    <div style="text-align: center;">
        <h3>Submeter outra?</h3>
        <button (click)="submeterOutra()">Inserir outra aposta</button>
        <button type="button" (click)="irParaVisualizarAposta()"> Visualizar Apossta</button>
        <!--<a routerLink="../visualizarAposta">Visualizar aposta</a>-->
    </div>
</div>

