﻿<html>
<body>
    <p *ngIf="!ListApostasA"><em>A carregar...</em></p>
    <div *ngIf="ListApostasA">
        <h1 style="margin-top:30px;"><b>{{userLogin.nome}}</b></h1>


        <div class="form-horizontal" style="width:100%;">

            <div class="form-horizontal" style="width:40%;margin-top:2%;float:left;">
                
                <div style="width:100%;margin-left:10%;">
                    <img style="width:35%;margin-left:15%;" src="{{userLogin.fotoPerfil}}" alt="Foto Perfil" />
                </div>
                <div style="float:left;width:100%;height:50px;margin-left:10%;">
                    <h4><b>Alterar Foto</b>  </h4>
                    <input type="file" #fileInput (change)="uploadFoto()" style="margin-top:8px;" placeholder="Alterar Foto">

                </div>
                <div>

                    <div style="float:left;width:100%;height:400px;margin-top:8%;margin-left:10%;">
                        <form [formGroup]="editarForm">
                            <div class="form-group">
                                <h4><b>Nome:</b>  </h4>
                                <input class="form-control" style="width:65%;" type="text" placeholder="{{userLogin.nome}}" id="nome" formControlName="nome" />
                            </div>
                            <div class="form-group">
                                <h4 style="margin-top:3%;"><b>Username:</b> </h4>
                                <input class="form-control" style="width:65%;" type="text" placeholder="{{userLogin.username}}" id="username" formControlName="username" />
                            </div>
                            <div class="form-group">
                                <h4 style="margin-top:3%;"><b>E-mail:</b> </h4>
                                <input class="form-control" style="width:65%;" type="email" placeholder="{{userLogin.email}}" id="mail" formControlName="mail" />
                            </div>
                            <div class="form-group">
                                <h4 style="margin-top:3%;"><b>Password:</b>   </h4>
                                <input class="form-control" style="width:65%;" type="password" id="pass" formControlName="pass" />
                            </div>
                            <div class="form-group">
                                <h4 style="margin-top:3%;"><b>Nova Password:</b>  </h4>
                                <input class="form-control" style="width:65%;" type="password" id="novapass" formControlName="pass1" />
                            </div>
                            <div class="form-group">
                                <h4 style="margin-top:3%;"><b>Repetir Password:</b>  </h4>
                                <input class="form-control" style="width:65%;" type="password" id="novapass2" formControlName="pass2" />
                            </div>
                            <div class="form-group">
                                <h4 style="margin-top:3%;"><b>Modalidade Preferida:</b>  </h4>
                                <select class="form-control" style="width:65%;" id="modalidade" formControlName="modalidade">
                                    <option value="">--Selecione a sua modalidade--</option>
                                    <option *ngFor="let k of modalidade" id="{{k.idM}}" value="{{k.idM}}">
                                        {{k.nome}}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <label class="text-danger">{{errorMessage}}</label>
                                <label class="text-success">{{successMessage}}</label>
                            </div>
                        </form>
                    </div>
                    
                    <div style="float:left;width:100%;height:150px;margin-top:300px;">
                        <button class="btn btn-success" type="submit" (click)="tryEditar(editarForm.value)" style="margin-top:3%;margin-left:25%;"> Guardar Alterações </button>
                    </div>

                </div>
                

</div>



            <div style="float:right;width:60%;">


                <div class="panel panel-default" style="max-height:960px;overflow-y:scroll;">
                    <div class="panel-heading">
                        <h2 class="panel-title"><b>As minhas apostas</b></h2>
                    </div>
                    <div class="panel-body">

                        <p *ngIf="ListApostasA == 0"><em>Sem Apostas Ativas!</em></p>
                        <div *ngIf="ListApostasA != 0">
                            <div *ngFor="let aposta of ListApostasA">
                                <div>
                                    <div class="col-sm-6 col-md-4" style="padding-top:30px;">
                                        <div class="thumbnail" style="text-align:center;height:450px;">
                                            <img style="margin:auto;height:80%" src="{{aposta.foto}}" alt="apostax" />
                                            <div class="caption">
                                                <label style="font-size:14px;">Válido até <span style="font-size:14px;color:green;"><b> {{aposta.dataFim}}</b> </span>  </label>
                                                <button type="submit" class="btn btn-danger" (click)="ElimAposta(aposta.id)">Eliminar</button>                                                

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>


            </div>

        </div>
    </div>





</body>
</html>