﻿
<br />
<h2>Lista de Apostas</h2>
<hr />

<div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div *ngFor="let app of l_ap">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="col-md-4">
                            <b>Nome: </b> {{app.id_ut}}  <br />
                            <b>Descricao: </b> {{app.descricao}} <br /> <!--Ir buscar o user do denunciante-->
                            <b>Data de Inicio: </b> {{app.data_inicio}}
                            <b>Data de Fim: </b> {{app.data_fim}}
                            <b>Grau de Confiança: </b> {{app.grau_conf}}
                            <br />
                            <b>Odd Total: </b> {{app.odd_total}}
                            <b>Ganha: </b> {{app.ganha}}
                            <br />
                        </div>
                        <div class="col-md-2">
                            <!--Bloqueado ou desbloqueado-->
                        </div>
                        <div class="col-md-4">
                            <br />
                            <input type="button" [routerLink]="['./home']" value="Abrir" class="btn3d btn btn-default pull-right" />
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
