﻿


<h1 style="text-align: center;">Aposta de <a [routerLink]="['/perfil']" [queryParams]="{ user:donoApostaId}">{{donoApostaUsername}}</a></h1>
<h3 style="text-align: center;">Acaba em {{aposta.dataFim}}</h3>
<div style="text-align: center;">
    <label>Tipo de aposta: </label> <label style="color:darkgoldenrod;">{{tipoAposta}}</label>
    <label>| Modalidade da aposta: </label> <label style="color:darkgoldenrod;">{{modalidade}}</label>
    <label>| Liga: </label> <label style="color:darkgoldenrod;">{{liga}}</label>
</div>
<div style="padding-top: 10px; text-align:center;">
    <img src={{aposta.foto}} (mouseleave)="zoomOver()" (mouseover)="zoom()" [style.width.px]="largura" [style.height.px]="altura" />
</div>
<div style="text-align: center; padding-top: 10px;">
    <ul class="list-inline" style="padding-left: 50px;">
        <li style="margin: 0 0 0 0;"><label style="font-size: 25px;">{{likes}}</label><label class="glyphicon glyphicon-heart" style="font-size: 35px;" (click)="like()" [style.color]="mudarCor"></label></li>
        <li style="margin: 0 0 0 0;"><label class="glyphicon glyphicon-comment" style="font-size: 35px; color:black;" (click)="comentar()"></label></li>
        <li style="margin: 0 0 0 0;"><label class="glyphicon glyphicon-bullhorn" style="font-size: 35px; color:black;" (click)="denunciarAposta()"></label></li>
        <li style="margin: 0 0 0 0;"><label>ODD: {{odd}}</label></li>
        <li style="margin: 0 0 0 0;"><label>Confiança na aposta: </label> <label [ngStyle]="{ 'color': cor }">{{risco}}%</label></li>
    </ul>
</div>
<div>
    <label for="descricao">Descrição:</label>
    <p id="descricao">{{descricao}}</p>
</div>
<div *ngIf="mostrarComentar">
    <form [formGroup]="comentarioForm">
        <div class="form-group">
            <label for="descricao">Seu comentario:</label>
            <textarea name="comentario" ngModel class="form-control" rows="3" id="comentario" formControlName="comentario" placeholder="faça o seu comentario"></textarea>
            <button id="submit" name="submit" class="btn btn-success" type="submit" (click)="tryInserirComentario(comentarioForm.value)">Inserir comentario</button>
            <button id="cancelarComentario" class="btn btn-danger" type="button" (click)="cancelarComentario()">Cancelar comentario</button>
            <label class="text-danger">{{errorMessage}}</label>
        </div>
    </form>
</div>
<div *ngIf="mostrarDenunciarAposta">
    <form [formGroup]="denunciaApostaForm">
        <div class="form-group">
            <label for="denuncia">Sua denuncia desta aposta:</label>
            <textarea name="denuncia" ngModel class="form-control" rows="3" id="denuncia" formControlName="denuncia" placeholder="faça a denuncia da aposta"></textarea>
            <button id="submit" name="submit" class="btn btn-success" type="submit" (click)="tryInserirDenunciaAposta(denunciaApostaForm.value)">Denunciar</button>
            <button id="cancelarDenuncia" class="btn btn-danger" type="button" (click)="cancelarDenunciaAposta()">Cancelar denuncia</button>
            <label class="text-danger">{{errorMessageDenunciaAposta}}</label>
            <label class="text-danger">{{successMessageDenunciaAposta}}</label>
        </div>
    </form>
</div>
<div *ngIf="mostrarDenunciarComentario">
    <form [formGroup]="denunciaComentarioForm">
        <div class="form-group">
            <label for="denunciaComentario">Sua denuncia deste comentario:</label>
            <textarea name="denunciaComentario" ngModel class="form-control" rows="3" id="denunciaComentario" formControlName="motivo" placeholder="faça a denuncia do comentario"></textarea>
            <button id="submit" name="submit" class="btn btn-success" type="submit" (click)="tryInserirDenunciaComentario(denunciaComentarioForm.value)">Denunciar</button>
            <button id="cancelarDenunciaComentario" class="btn btn-danger" type="button" (click)="cancelarDenunciaComentario()">Cancelar denuncia</button>
            <label class="text-danger">{{errorMessageDenunciaAposta}}</label>
            <label class="text-danger">{{successMessageDenunciaAposta}}</label>
        </div>
    </form>
</div>
<div>
    <label for="comentarios">Comentarios de utilizadores:</label>
    <div class="row" *ngFor="let c of comentarios">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{c.id}}</strong> <span class="text-muted">{{c.data}}</span>
                </div>
                <div class="panel-body">
                    {{c.descricao}}
                </div>
                <button id="denunciarCom" class="btn btn-danger" type="button" (click)="denunciarComentario(c.id, c.idUtilizador)">Denunciar este comentario</button>
            </div>
        </div>
    </div>
</div>


