﻿<style type="text/css">
    html {
        overflow-x: hidden;
        overflow-y:hidden;
        margin-left: -36px;
        margin-right: -15.3px;
    }
</style>
<html>
<body>
    <div class="image">
        <div align="left">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h1 align="center" style="color:white">Criar uma conta nova</h1>
                        <br />
                        <form [formGroup]="registerForm">
                            <div class="form-group">
                                <label style="color:white">Email</label>
                                <input type="email" formControlName="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="color:white">Password</label>
                                <input type="password" class="form-control" formControlName="password">
                            </div>
                            <div class="form-group">
                                <label style="color:white">Confirmar password</label>
                                <input type="password" class="form-control" formControlName="confirmar_password">
                            </div>
                            <div class="form-group">
                                <label style="color:white">Data de Nascimento</label>
                                <input type="date" formControlName="data_nascimento" class="form-control">
                            </div>

                            <div class="form-group">
                                <label style="color:white">Username</label>
                                <input type="text" formControlName="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="color:white">Nome</label>
                                <input type="text" formControlName="nome" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="color:white">Género</label>
                                <select (change)="filterForeCasts($event.target.value)" formControlName="genero">
                                    <option value="">--Selecione o seu genero--</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                </select>
                            </div>
                            <!--<div class="form-group">
                                <label style="color:white">Modalidade Favorita</label>
                                <select (change)="filterForeCasts($event.target.value)" formControlName="modalidade_favorita">
                                    <option value="">--Selecione a sua modalidade favorita--</option>
                                    <option value="35">Futebol</option>
                                    <option value="36">Basquetebol</option>
                                    <option value="39">Futsal</option>
                                    <option value="44">Hipismo</option>
                                </select>
                            </div>-->
                            <!--[(ngModel)]="forecasts"-->
                            <div class="form-group">
                               <label style="color:white">Modalidade Favorita</label>
                               <select #selectElem (change)="filterForeCasts($event.target.value)" formControlName="modalidade_favorita">
                                       <option value="">--Selecione a sua modalidade favorita--</option>
                                       <option *ngFor="let k of forecasts" value="{{ k.idM }}" id="{{ k.idM }}"> {{ k.nome }}</option>
                               </select>
                            </div>
                            <div>
                                <label class="text-danger">{{errorMessage}}</label>
                                <label class="text-success">{{successMessage}}</label>
                            </div>
                            <div align="center">
                                <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Registo</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-primary btn-block" (click)="tryRegisterSocial('facebook')">Registo com o Facebook</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-danger btn-block" (click)="tryRegisterSocial('google')">Register com o Google</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <br />
                        <p align="center" style="color:white">Ja possui uma conta? <a [routerLink]="['/login']">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>