﻿<h1 style="text-align: center">Notifica&ccedil;&otilde;es</h1>
<!--<div style="border: 1px solid red">Notificacoes Component</div>-->
<hr noshade>
<br />

<table class="table">
    <thead>
        <tr>
            <!--<th>Notificacoes</th>-->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let linha of notificacoes">
            <td>
                <div [ngSwitch]="linha.tipo">
                    <!--1 foto, 2 comentario, 3 seguir-->
                    <div *ngSwitchCase="'1'"><img src="{{notifImageUrl1}}" width="20" height="20" /></div>
                    <div *ngSwitchCase="'2'"><img src="{{notifImageUrl2}}" width="20" height="20" /></div>
                    <div *ngSwitchCase="'3'"><img src="{{notifImageUrl3}}" width="20" height="20" /></div>
                </div>
            </td>
            <td>
                O utilizador <b>{{linha.sourceUser}}</b>&nbsp;
                <!--1 foto, 2 comentario, 3 seguir-->&nbsp;
                <div [ngSwitch]="linha.tipo">
                    <div *ngSwitchCase="'1'">&nbsp;gostou da sua foto </div>
                    <div *ngSwitchCase="'2'">&nbsp;comentou a sua aposta </div>
                    <div *ngSwitchCase="'3'">&nbsp;come&ccedil;ou a segui-lo </div>
                </div>&nbsp;
            </td>
            <td>{{ linha.url }}</td>
            <!--<td *ngIf="linha.foto == true;then foto else fotoF"></td>-->
            <!--<td>{{linha.tipo}}</td>-->

        </tr>
    </tbody>
</table>
