﻿<style type="text/css">
    html {
        overflow-y: hidden;
        overflow-x: hidden;
        margin-left: -36px;
        margin-right: -15.3px;
    }
</style>
<html>
<body>
    <div class="image">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <label style="color:white">Email</label>
                                <input type="email" formControlName="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="color:white">Password</label>
                                <input type="password" class="form-control" formControlName="password">
                                <label class="text-danger">{{errorMessage}}</label>
                                <label class="text-success">{{successMessage}}</label>
                            </div>
                            <div align="center">
                                <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-primary btn-block" (click)="trySocialLogin('facebook')">Login com Facebook</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-danger btn-block" (click)="trySocialLogin('google')">Login com Google</button>
                    </div>
                </div>
                <br />
                <div align="center">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <a [routerLink]="['/reset']">Esqueci-me da password</a>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <p style="color:white">Novo no site? <a [routerLink]="['/register']">Crie uma nova conta</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>