﻿<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">InstApostas</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./admin']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./admin/ligas']">
                        <span class='glyphicon glyphicon-th-list'></span> Ligas
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./admin/modalidades']">
                        <span class='glyphicon glyphicon-th-list'></span> Modalidades
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./admin/denuncias']">
                        <span class='glyphicon glyphicon-alert'></span>Denuncias
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./admin/listarusers']">
                        <span class='glyphicon glyphicon-user'></span>Lista de Utilizadores
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['./admin/listarapostas']">
                        <span class='glyphicon glyphicon-star-empty'></span>Lista de Apostas
                    </a>
                </li>
                
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-log-out'></span>Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
